/** {
  border: 2px solid crimson;
}*/

body {
  margin: 2% 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
}

.vertical-text {
  transform: rotate(450deg);
    transform-origin: left top 0;
    float: right;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 0px 0px 50px;
    position: fixed;
    display: inline-block;
    color: #2a2a2a;
}
.vertical-text-w {
    transform: rotate(4500deg);
    transform-origin: left top 0;
    float: right;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 0px 0px 50px;
    position: fixed;
    display: inline-block;
    color: #fff;
    z-index: 300 !important;
}
/*********** HEADER ***********/
header {
  position: static;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


nav {
  letter-spacing: 0.46px;
  width: 28%;
  margin-right: 4%;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 8px;
}

nav a:hover {
  background-color: #7EBDC2;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
}



/*********** CENTER INTRO **********/

.center-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 16vh;
  margin-bottom: 5vh;
}

.hidden {
  display: none;
}

.name {
  font-size: 2.5em;
  letter-spacing: 2.45px;
  margin-bottom: 0;
}
.description {
  line-height: 1.8;
  margin: 3vh 0 5vh 0;
}

.profession {
  color: #7EBDC2
}
.underline {
  border-bottom: 2px solid #7EBDC2;
  padding-bottom: 3px;
}
/*********** PROJECTS **********/

/* Hungry For More */
.section-one-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 15vh;
  padding: 3vw;
}

hr {
  width: 6%;
  text-align: left;
  border-color: #7EBDC2;
  border-style: solid;
}

.title {
  margin-bottom: 2%;
  margin-top: 3%;
}

.hungry-img {
  display: block;
  width: 100vw;
  margin-left: 2vw;

}

.details {
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin-left: 4vw;
}

.details-inverted {
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin-left: 6vw;
}

.info-container {
  width: 38vw;
}

.info {
  line-height: 1.8;
  color: #989DA1;
  margin: 6% 0 4% 0;
}

.tag {
  letter-spacing: 0.46px;
  font-size: 0.8em;
}

ul {
  padding: 0;
}

.tech {
  width: 10%;
  display: inline-flex;
  font-weight: 600;
  margin-bottom: 6%;
  text-align: center;
  margin-left: 12%;
}

.tech-html {
  width: 10%;
  display: inline-flex;
  font-weight: 600;
  margin-bottom: 6%;
  text-align: center;
}

.basic-tech {
  width: 8%;
  display: inline-flex;
  font-weight: 600;
  margin-bottom: 6%;
  text-align: center;
  margin-left: 25px;
}


.btn {
  border: 2px solid #D8D8D8;
  padding: 5px 30px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.46px;
}

.btn:hover{
  border: 2px solid #7EBDC2;
  background-color: #7EBDC2;
  color: white;
  font-weight: 500;
  transition: 0.4s;
}


.hungry-img img {
  height: 62vh;
}

/* Fit Kids */
.section-two-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0 2vw;
}

.fitkids-img {
  display: block;
  width: 100vw;
  margin-right: 3vw;
}

.fitkids-img img {
  height: 62vh;
}

/* Connect Four */
.connect-img {
  display: block;
  width: 100vw;
  margin-left: 2vw;
}

.connect-img img {
  height: 62vh;
}


/* Get Fit */
.getfit-img {
  display: block;
  width: 100vw;
  margin-right: 3vw;
}

.getfit-img img {
  height: 44vh;
}

/* Bottom */
.bottom hr {
  border: 1px solid #D8D8D8;
  margin-top: 10vh;
  width: 85vw;
  display: flex;
  justify-content: center;
}

.bottom-content {
  text-align: center;
  display: block;
}

.hello {
  margin-top: 8vh;
  letter-spacing: 0.46px;
}

.discuss {
  margin-bottom: 0;
}

.get-in-touch {
  margin-top: 1.5vh;
}

.get-in-touch a {
  text-decoration: none;
  color: #333;
}

.fa-github {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-right: 2%;
  cursor: pointer;
}

.fa-linkedin-square {
  display: inline-block;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.fa-envelope-o {
  display: inline-block;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  margin-right: 2%;
}

.fa-envelope-o:hover {
  color: #7EBDC2;
  cursor: pointer;
}

.fa-linkedin-square:hover {
  color: #7EBDC2;
  cursor: pointer;
}

.fa-github:hover {
  color: #7EBDC2;
  cursor: pointer;
}


/*********** MEDIA BREAKPOINTS **********/

@media (max-width: 800px) {

  .center-container {
    width: 80%;
    margin: 16vh auto 5vh auto;
  }

  .vertical-text {
    display: none;
  }

  .clear {
    display: inline-block;
  }

  header {
    background-color: rgba(216, 216, 216, 0.5);
    position: fixed;
  }

  nav {
    letter-spacing: 0.46px;
    margin: 2vh auto;
    display: flex;
  }

  .name {
    font-size: 2.0em;
  }

  .details {
    width: 100%;
    /*text-align: center;*/
  }

  .details-inverted {
    width: 100%;
    /*text-align: center;*/
  }

  .title {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }

  .tech {
    display: inline-flex;
    flex-flow: row wrap;
    margin-left: 26%;
  }
  .tech-html {
    flex-flow: row wrap;
    display: inline-flex;

  }
  .basic-tech {
    display: inline-flex;
    flex-flow: row wrap;
  }

  .hungry-img {
    width: 100%;
  }
  .hungry-img img {
    width: 100%;
    height: 65%;
    margin-top: 22%;
  }
  .connect-img {
    width: 100%;
  }

  .connect-img img {
    width: 100%;
    height: 60%;
    margin-top: 22%;
  }

  .fitkids-img {
    width: 100%;
  }
  .fitkids-img img {
    width: 100%;
    height: 60%;
    margin-top: 22%;
  }

  .getfit-img {
    width: 100%;
  }
  .getfit-img img {
    width: 100%;
    height: 50%;
    margin-top: 22%;
  }
  .section-one-container {
    width: 100vw;
    margin-bottom: 5%;
  }
  .section-two-container {
    width: 100vw;
    margin-bottom: 8%;
  }

  footer {
    margin-bottom: 4%;
  }

}


@media (max-width: 550px) {

  body {
    margin: 0 auto;
  }

  header {
    background-color: rgba(216, 216, 216, 0.5);
  }

  .vertical-text {
    display: none;
  }

  .clear {
    display: inline-block;
  }

  .center-container {
    width: 70%;
    margin: 16vh auto 5vh auto;
  }

  nav {
    letter-spacing: 0.46px;
    margin: 2vh auto;
    display: flex;
  }

  .name {
    font-size: 1.5em;
  }

  .details {
    width: 100%;
    /*text-align: center;*/
  }

  .details-inverted {
    width: 100%;
    /*text-align: center;*/
  }


  .title {
    margin-top: 0;
  }

  ul {
    margin: 0;
  }

  .tech {
    display: inline-flex;
    flex-flow: row wrap;
    margin-left: 26%;

  }
  .tech-html {
    flex-flow: row wrap;
    display: inline-flex;

  }
  .basic-tech {
    display: inline-flex;
    flex-flow: row wrap;
  }

  .hungry-img {
    width: 100%;
  }
  .hungry-img img {
    width: 100%;
    height: 65%;
    margin-top: 22%;
  }
  .connect-img {
    width: 100%;
  }

  .connect-img img {
    width: 100%;
    height: 55%;
    margin-top: 22%;
  }

  .fitkids-img {
    width: 100%;
  }
  .fitkids-img img {
    width: 100%;
    height: 65%;
    margin-top: 22%;
  }

  .getfit-img {
    width: 100%;
  }
  .getfit-img img {
    width: 100%;
    height: 40%;
    margin-top: 22%;
  }
  .section-one-container {
    width: 100vw;
    margin-bottom: 5%;
  }
  .section-two-container {
    width: 100vw;
    margin-bottom: 8%;
  }

  .title {
    font-size: 1.2em
  }

  .info {
    font-size: .7em;
    line-height: 1.4;
  }

  li {
    font-size: .7em;
  }

  .btn {
    font-size: .8em;
  }

  .hello {
    font-size: 1.0em;
  }

  .discuss {
    font-size: .7em;
  }
  .get-in-touch {
    font-size: .7em;
  }

  footer {
    margin-bottom: 4%;
  }
}
